.nav {
  --bs-nav-link-color: gray;
}

#topMenu {
  color: white !important;
}

#photo {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

#botMenu {
  background-color: black;
}

hr {
 opacity: 1;
}